    #container {
        background-color: grey;
        opacity: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 720px;
        height: 720px;
        min-width: 720px;
        min-height: 720px;
    }
    
    .reset-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sq {
        background-color: blue;
        border: 1px solid black;
    }
    
    .mouseover {
        background-color: black;
    }
    
    .active-button {}
    
    body {
        margin: 150px;
        display: flex;
    }